.NavContainer {
    display: flex;
    margin-top: 45px;
    margin-left: 158px;
    margin-right: 150px;

    img {
        width: 150px;
        height: 40px;
        margin-top: 7px;
    }

    .NavLinks {
        display: flex;
        font-size: 16px;
        margin-left: auto;
        list-style: none;
        font-weight: 300;
        
        .SigninItem {
            color: #000;
            font-weight: 500;
            
        }

        .SignupItem {
            font-weight: 500;
            padding: 13px 45px;
            border: 1px solid #F53855;
            color: #F53855;
            text-decoration: none;
            border-radius: 50px;
            transition: transform .3s;

            &:hover {
                background-color: #F53855;
                color: #fff;
            }
            
        }

        a[href] {
            position: relative;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
            
           
            &:hover {
                font-weight: 500;
                transition: .5s;
            }
        }
    }
} 