.headerContainer {
    display: flex;
    align-items: center;
}

.headerDesc {
    align-content: center;
    margin-left: 243px;
}

.headerDesc h1 {
    color: var(--greenHeaderColor);
    width: 633px;
    font-size: 52px;
    line-height: 72px;
    margin-bottom: 29px;
}

.headerDesc h1 span {
    display: block;
    color: var(--redHeaderColor);
    font-size: 32px;
    line-height: 39px;
}

.headerDesc p {
    color: var(--paragraphColor);
    font-family: var(--gelionFont);
    font-size: 24px;
    line-height: 45px;
    width: 641px;
}

.btnDesc {
    margin-top: 54px;
    font-family: var(--gelionFont);
    background: var(--actionColor);
    color: var(--whiteColor);
    font-size: 24px;
    width: 250px;
    height: 80px;
    border-radius: 65px;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
}

.headerImg {
    margin-top: 56px;
}