.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerDesc {
    align-content: center;
    /* margin-top: 315px; */
    margin-left: 243px;
}

.headerDesc h1 {
    color: #035755;
    width: 633px;
    font-size: 52px;
    line-height: 72px;
    margin-bottom: 29px;
}

.headerDesc h1 span {
    display: block;
    color: #FA5652;
    font-size: 32px;
    line-height: 39px;
}

.headerDesc p {
    color: #4B4F51;
    font-size: 24px;
    line-height: 45px;
    width: 641px;
}

.btnDesc {
    margin-top: 54px;
    background: #FB4C47;
    color: #FFF;
    font-size: 24px;
    width: 250px;
    height: 80px;
    border-radius: 65px;
    border: none;
}

.headerImg {
    margin-top: 56px;
}