.Container {
    background-color: var(--backgroungColor);
}

@media screen and (min-width: 100px) {
    .wrap {
        position: relative;
        overflow: hidden;
        transition: 0.5s;
    }
}

@media screen and (min-width: 1923px) {
    .wrap {
        overflow: visible;
        transition: 0.5s;
    }
}