.navbarContainer {
    display: flex;
    margin-top: 31px;
    align-items: center;
}

.navbarContainer img {
    margin-left: 238px;
}

.navbarList {
    margin: 0 40px 0 564.18px;
}

.navbarList > a {
    margin-left: 40px;
    color: #035755;
}

.navbarContainer .contact {
    color: #FF383D;
    width: 154px;
    height: 55px;
    background-color: #FFF;
    border: 2px solid #FF383D;
    border-radius: 46px;
}