.navbarContainer {
    display: flex;
    padding-top: 31px;
    align-items: center;
}

.navbarContainer img {
    margin-left: 238px;
}

.navbarListWrap {
    margin: 0 40px 0 564.18px;
    display: flex;
}

.navbarList a[data-highlight="true"] {
    color: var(--actionColor);
}

.dotNavbar[data-highlight="true"] {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--actionColor);
}

.navbarList > a {
    margin: 0 20px;
    color: var(--greenHeaderColor);
}

.navbarContainer .contact {
    color: var(--actionColor);
    width: 154px;
    height: 55px;
    background-color: var(--backgroungColor);
    border: 2px solid var(--actionColor) ;
    border-radius: 46px;
}