.background {
    position: absolute;
    margin-top: -440px;
    margin-left: 1600px;
}

.background2 {
    position: absolute;
    margin-top: -350px;
    margin-left: 1715px;
}

.footerTop {
    display: flex;
    align-items: center;
}

.footerLogo {
    margin: 0 213px 0 242px;
}

.footerList ul {
    display: flex;
    list-style: none;
    color: var(--greenColor);
}

.footerList li {
    margin-left: 70px;
}

.footerImg {
    margin-left: 224px;
}
.footerImg img {
    margin-right: 40px;
}

.footerBottom {
    margin-top: 67px;
    text-align: center;
    color: var(--paragraphColor);
}