.hero {
  margin-left: 158px;
  margin-right: 140px;

  .container {
    display: flex;
  }

  .textWrapperFeatures {
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 126px;

    h3 {
      font-size: 35px;
      font-weight: 500;
      line-height: 50px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #4f5665;
      line-height: 30px;
    }

    .listFeatures ul,li {
      display: flex;
      list-style-type: none;
      font-size: 16px;
      font-weight: 400;
      color: #4f5665;
      line-height: 30px;
      margin-left: -40px;
      padding-top: 20px;

    .imageFeatures {
      padding-right: 12px;
    }
    }
  }
}
