.hero {
  margin-left: 158px;
  margin-right: 150px;

  .container {
    display: flex;
    align-items: center;
  }

  .textWrapperFeatures {
    padding-left: 100px;
    padding-right: 50px;

    .textTitleFeatures {
      font-size: 35px;
      font-weight: 500;
      line-height: 50px;
    }

    .descriptionFeatures {
      font-size: 16px;
      font-weight: 400;
      color: #4f5665;
      line-height: 30px;
    }

    .listFeatures {
      list-style: none;
      font-size: 16px;
      font-weight: 400;
      color: #4f5665;
    }
  }
}
