.symtompsContainer {
    margin-top: 148px;
    margin-bottom: 139px;
}

.symtompsContainer span {
    font-size: 29px;
    color: var(--redHeaderColor);
    line-height: 35px;
    display: block;
    text-align: center;
}

.symtompsContainer h1 {
    font-size: 50px;
    line-height: 59px;
    color: var(--greenHeaderColor);
    text-align: center;
    margin-bottom: 31px;
}

.symtompsContainer p {
    margin-top: 31px;
    font-size: 18px;
    line-height: 38px;
    color: var(--paragraphColor);
    width: 716px;
    margin: auto;
    text-align: center;
}

.imgWrap {
    text-align: center;
}

.bg1 {
    position: absolute;
    margin-top: -350px;
    margin-left: 100px;
}

.bg2 {
    position: absolute;
    margin-top: -180px;
    margin-left: 1800px;
}