.overviewContainer {
    display: flex;
}

.overviewDesc {
    margin-left: 171px;
}

.overviewDesc h1 {
    color: var(--greenHeaderColor);
    margin: 203px 0 0 0;
    font-size: 50px;
    line-height: 59px;
}

.overviewDesc span {
    display: block;
    font-size: 29px;
    line-height: 35px;
    color: var(--redHeaderColor);
}

.overviewDesc p {
    margin-top: 18px;
    width: 648px;
    font-size: 20px;
    line-height: 43px;
    color: var(--paragraphColor);
    font-family: var(--gelionFont);
}

.btnDesc {
    margin-top: 56px;
    font-size: 20px;
    line-height: 23px;
    color: var(--redHeaderColor);
    width: 200px;
    height: 65px;
    border-radius: 65px;
    border: none;
    background: rgba(250, 86, 82, 0.15);
    font-family: var(--gelionFont);
}

.bgFirst {
    position: absolute;
    margin-top: 450px;
    margin-left: 25px;
}

.bgSecond {
    position: absolute;
    margin-top: 690px;
    margin-left: -70px;
}