.hero {
    padding-top: 186px;
    padding-bottom: 100px;
    background: #f8f8f8;

    .container {
        margin-left: 150px;
        margin-right: 150px;
    }
    .footer {
        .subscribe {
            display: flex;
            width: 1045px;
            height: 233px;
            background: #ffffff;
            border-radius: 10px;
            padding-bottom: 200px;
            .left {
                width: 41%;
                text-align: left;
                padding-top: 20px;
                padding-left: 70px;
                h1 {
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 45px;
                    color: #0b132a;
                }
                p {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 30px;
                    color: #4f5665;
                }
            }

            .button {
                font-weight: 500;
                text-align: center;
                padding-top: 20px;
                margin-left: 300px;
                font-size: 16px;
                display: inline-block;
                width: 250px;
                height: 60px;
                margin-top: 80px;
                background-color: #f53838;
                color: #fff;
                text-decoration: none;
                border-radius: 10px;
                transition: transform 0.3s;
                position: relative;

                &:hover {
                    font-size: 16px;
                    transform: scale(1.1);
                }

                &::before {
                    content: "";
                    height: 80%;
                    width: 80%;
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    display: inline-block;
                    background-color: inherit;
                    opacity: 0.55;
                    filter: blur(26px);
                    transform: translateY(45%);
                    z-index: -1;
                    border-radius: 10px;
                }
            }
        }
        .innerFooter {
            display: flex;
            justify-content: center;

            .footerItems {
                width: 30%;
                padding: 10px 20px;
                margin-right: 150px;

                p {
                    width: 350px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #4f5665;
                }

                .socialMedia {
                    padding-top: 30px;
                    padding-bottom: 10px;
                    justify-content: left;

                    a {
                        margin-left: -15px;
                    }
                }

                .footerBottom {
                    font-size: 16px;
                    line-height: 30px;
                    color: #afb5c0;
                }
            }

            .footerItemsProduct {
                padding: 0 20px;

                h3 {
                    padding-bottom: 10px;
                    padding-left: 38px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #0b132a;
                }

                ul {
                    width: 165px;
                    list-style: none;
                    font-weight: normal;
                    font-size: 16px;
                    color: #4f5665;
                }
                ul a {
                    text-decoration: none;
                    outline: none;
                    color: #4f5665;
                    transition: 0.3s;
                }

                ul a:hover {
                    color: #f53838;
                }

                ul li {
                    margin: 10px 0;
                    height: 30px;
                }
            }
        }
    }
}
