
.text-wrapper-features {
    padding-left: 169px;
    padding-right: 50px;
    
    

    .text-title-features {
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
    }

    .description-features {
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
        line-height: 30px;
    }

    .list-features {
        list-style: none;
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
        
    }
    
}
