.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 158px;
    margin-right: 150px;
  
    .container {
      display: flex;
      align-items: center;
    }
.cardWrapper {
    display: flex;
    width: 1140px;
    height: 200px;
    border-radius: 10px;
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-shadow: 0 1.5625rem 2.8125rem rgba(79,86,101,0.075) !important;
    box-shadow: 0 1.5625rem 2.8125rem rgba(79,86,101,0.075) !important;

    .cardItem {
        display: flex;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        .cardImage {
            width: 55px;
            max-width: 100%;

        }

        .cardName {
            padding-top: 20px;
            font-size: 25px;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 10px;
            text-transform: capitalize;
        }

        .cardCategory {
            color:#4F5665;
            font-size: 20px;
            font-weight: 400;

        }
    }
}

.textWrapperFeatures {
    padding-left: 169px;
    padding-right: 50px;
    
    

    .textTitleFeatures {
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
    }

    .descriptionFeatures {
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
        line-height: 30px;
    }

    .listFeatures {
        list-style: none;
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
        
    }
}
}