@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

:root {
  --paragraphColor: #4B4F51;
  --actionColor: #FB4C47;
  --greenHeaderColor: #035755;
  --redHeaderColor: #FA5652;
  --greenColor: #0C6C44;
  --backgroungColor: #FFF8F8;
  --whiteColor: #FFFFFF;
  --gelionFont: 'Domino', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1922px;
  margin: auto;
  background-color: #FFF8F8;
}
